@import "~antd/dist/antd.css";

.app-container1  {
  margin: 2%;
}

.carrousel-container {
  flex-direction: "row";
  width: 100%;
}

.carrousel {
  width: 70%;
}

.card-events {
  margin-top: 1%;
  width: 100%;
}

.sider-container  {
  margin-right: 1%;
  width: 20%;
  height: 100%;
}

.sider {
  color: white;
  height: 100%;
}

.footer {
  bottom: 0;
  position: 'fixed';
  width: 100%;
}