h4 {
  font-weight: 900 !important;
  text-decoration: underline;
}

.carousel {
  background:#0026EB;
  height: 350px;
}
.img img {
  width: 100%;
  height: 350px;
}
.carousel-content {
  background-color: #F9F9F9;
  height: 350px;
  border-right: 1px solid #CFCFCF;

  .seeAll {
    position: fixed;
    margin-left: 510px;
    bottom: 30px;

    a {
      color: #000000;
    }
  }

  .text {
    margin-left: 50px;
    padding: 55px;
    text-justify: inter-word;

    h3.title {
      font-weight: 900;
    }

    .description {
      max-height: 180px;
      overflow: hidden;
    }

    .tags {
      position: relative;
      bottom: 50px;
      position: fixed;
      .ant-tag {
        background: #0026EB;
        color: #FFFFFF;
      }
    }
  }
}

.ant-carousel .slick-dots li button{
  background: #0026EB !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50% !important;
}

.slick-dots {
  margin-left: 210px !important;
  margin-bottom: 10px !important;
}